button {
    padding: 8px 16px;
}

pre {
    overflow-x: hidden;
    overflow-y: auto;
}

video {
    width: 100%;
}

.option {
    margin-bottom: 8px;
}

.toggle-content {
    display: none;
}

#media {
    max-width: 640px;
    max-height: 640px;
}

#chat-div {
    float: right;
    width: 300px; /* Задайте ширину вашего блока чата */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: relative; /* Позволяет использовать позиционирование */
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

button {
    background-color: #ff429d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #ff429d;
 }